<main class="container mt-5">
  <table class="table">
    <thead>
      <th>Nome</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let student of tableMetadata.elements">
        <td>{{student.user.name}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="this.tableMetadata.currentPage > 1">
        <a class="page-link" (click)="previousPage()">Anterior</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="previousPage()" *ngIf="this.tableMetadata.currentPage > 1">
          {{this.tableMetadata.currentPage - 1}}
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">{{this.tableMetadata.currentPage}}</a></li>
      <li class="page-item" *ngIf="this.tableMetadata.currentPage < this.tableMetadata.totalPages">
        <a class="page-link" (click)="nextPage()">{{this.tableMetadata.currentPage + 1}}</a>
      </li>
      <li class="page-item" *ngIf="this.tableMetadata.currentPage < this.tableMetadata.totalPages">
        <a class="page-link" (click)="nextPage()">Próximo</a>
      </li>
    </ul>
  </nav>
</main>
