<main class="container mt-5">
  <app-form-errors [errors]="errorMessages"></app-form-errors>
  <div class="card" *ngIf="errorMessages.length === 0">
    <div class="card-header">
      <h2 class="text-center">Exercício</h2>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label>Nome</label>
        <input type="text" value={{this.exercise.name}} class="form-control" disabled>
      </div>
      <div class="mb-3">
        <label>Grupo muscular</label>
        <input type="text" value={{this.exercise.muscularGroup.name}} class="form-control" disabled>
      </div>
    </div>
  </div>
</main>
