<app-personal-navbar></app-personal-navbar>

<main class="container mt-5">

  <app-error-handler [errorMessage]="this.errorMessage"></app-error-handler>

  <div class="card" *ngIf="this.errorMessage == ''">
    <div class="card-header">Exercício</div>
    <div class="card-body">
      <div class="mb-3">
        <label>Nome</label>
        <input disabled class="form-control disabled" value="{{this.exercise.name}}">
      </div>
      <div class="mb-3">
        <label>Grupo muscular</label>
        <input disabled class="form-control disabled" value="{{this.exercise.muscularGroup.name}}">
      </div>
    </div>
  </div>
</main>
