
<main class="container mt-5">

  <app-error-handler [errorMessage]="this.errorMessage"></app-error-handler>

  <div class="card" *ngIf="this.errorMessage == ''">
    <div class="card-header">Exercício</div>
    <div class="card-body">
      <div class="mb-3">
        <label>Nome</label>
        <input disabled class="form-control disabled" value="{{this.exercise.name}}" id="name">
      </div>
      <div class="mb-3">
        <label>Grupo muscular</label>
        <input disabled class="form-control disabled" value="{{this.exercise.muscularGroup.name}}" id="muscular-group">
      </div>
    </div>
  </div>

  <div class="d-flex flex-row-reverse">
    <a class="btn btn-outline-warning mt-3" routerLink="/exercises/{{this.exercise.id}}/edit">
      Editar
    </a>
  </div>
</main>
