<main class="container mt-4">
  <div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form (ngSubmit)="login()">
        <app-form-errors [errors]="this.errors"></app-form-errors>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" name="email" required class="form-control" id="email" />
        </div>

        <div class="mb-3">
          <label for="password">Senha</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" />
        </div>

        <button class="btn btn-primary">
          Enviar
        </button>
      </form>
    </div>
  </div>
</main>
