<main class="container mt-5">
  <app-form-errors [errors]="errorMessages"></app-form-errors>
  <div class="card" *ngIf="errorMessages.length === 0">
    <div class="card-header">
      <h2>Aluno</h2>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label>Nome</label>
        <input type="text" value={{student.user?.name}} disabled class="form-control">
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="text" value={{student.user?.email}} disabled class="form-control">
      </div>
    </div>
  </div>
</main>
